Repository DatafuseDev/fusequery, changes with the owners that .github/CODEOWNERS names for each.
All owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-executor-reviewer, @databendlabs/databend-planner-reviewer, @databendlabs/databend-meta-reviewer, @drmingdrmer, @databendlabs/databend-storage-reviewer, @databendlabs/databend-api-reviewer, @databendlabs/databend-tool-reviewer

for test
  src/query/expression/src/utils/block_thresholds.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

update
  src/query/storages/fuse/src/io/read/segment_reader.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Owners: @databendlabs/databend-storage-reviewer

chore: add infer filter unit tet
  src/query/expression/src/types.rs
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/tests/optimizer/filter/infer_filter_test.rs
  src/query/sql/tests/optimizer/filter/mod.rs
Owners: none

fix A != 5 and A >= 5
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/tests/optimizer/filter/infer_filter_test.rs
Owners: none

for test
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/expression/src/utils/block_thresholds.rs
Owners: none

add examples for merge_predicate
  src/query/sql/src/planner/optimizer/filter/infer_filter.rs
  src/query/sql/tests/optimizer/filter/infer_filter_test.rs
Owners: none

fix: the output columns of cte related columns lack the columns required by cte itself
  src/query/sql/src/executor/physical_plans/physical_union_all.rs
  src/query/sql/src/planner/binder/util.rs
  tests/sqllogictests/suites/query/cte/cte.test
Owners: none

feat: introduce new setting `enable_auto_vacuum`
  src/query/settings/src/settings_default.rs
  src/query/settings/src/settings_getter_setter.rs
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Owners: @databendlabs/databend-storage-reviewer

refactor: use vaccuum2 in `CommitSink`
  Cargo.lock
  src/query/ee/src/storages/fuse/operations/handler.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table.rs
  src/query/ee/src/storages/fuse/operations/vacuum_table_v2.rs
  src/query/ee_features/vacuum_handler/Cargo.toml
  src/query/ee_features/vacuum_handler/src/vacuum_handler.rs
  src/query/storages/fuse/Cargo.toml
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Owners: @databendlabs/databend-storage-reviewer

turn on setting `enable_auto_vacuum`
  src/query/storages/fuse/src/operations/common/processors/sink_commit.rs
Owners: @databendlabs/databend-storage-reviewer

chore: add block file size
  src/common/io/src/constants.rs
  src/query/catalog/src/plan/partition.rs
  src/query/catalog/src/table.rs
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/expression/src/utils/block_thresholds.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  src/query/service/src/interpreters/common/table_option_validation.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/block_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/recluster_mutator.rs
  src/query/service/tests/it/storages/fuse/operations/mutation/segments_compact_mutator.rs
  src/query/service/tests/it/storages/fuse/statistics.rs
  src/query/storages/common/table_meta/src/meta/utils.rs
  src/query/storages/fuse/src/constants.rs
  src/query/storages/fuse/src/fuse_table.rs
  src/query/storages/fuse/src/io/read/meta/meta_readers.rs
  src/query/storages/fuse/src/io/write/write_settings.rs
  src/query/storages/fuse/src/operations/common/processors/transform_mutation_aggregator.rs
  src/query/storages/fuse/src/operations/common/processors/transform_serialize_segment.rs
  src/query/storages/fuse/src/operations/compact.rs
  src/query/storages/fuse/src/operations/mutation/mutator/block_compact_mutator.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
  src/query/storages/fuse/src/operations/mutation/processors/compact_source.rs
  src/query/storages/fuse/src/operations/recluster.rs
  src/query/storages/fuse/src/statistics/reducers.rs
Owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-storage-reviewer, @databendlabs/databend-executor-reviewer

fix
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Owners: @databendlabs/databend-storage-reviewer

fix test
  src/query/storages/fuse/src/operations/mutation/processors/compact_source.rs
Owners: @databendlabs/databend-storage-reviewer

.github/CODEOWNERS:

# Query
/src/common/arrow/         @databendlabs/databend-query-reviewer
/src/common/hashtable/     @databendlabs/databend-query-reviewer
/src/common/io/            @databendlabs/databend-query-reviewer
/src/query/datablocks/     @databendlabs/databend-query-reviewer
/src/query/datavalues/     @databendlabs/databend-query-reviewer
/src/query/functions/      @databendlabs/databend-query-reviewer
/src/query/management/     @databendlabs/databend-query-reviewer
/src/query/streams/        @databendlabs/databend-query-reviewer

# Executor
/src/common/base/                  @databendlabs/databend-executor-reviewer
/src/common/exception/             @databendlabs/databend-executor-reviewer
/src/query/planners/               @databendlabs/databend-executor-reviewer
/src/query/service/src/clusters/   @databendlabs/databend-executor-reviewer
/src/query/service/src/pipelines/  @databendlabs/databend-executor-reviewer
/src/query/service/src/api/rpc/    @databendlabs/databend-executor-reviewer

# Planner
/src/query/ast/                       @databendlabs/databend-planner-reviewer
/src/query/service/src/optimizers/    @databendlabs/databend-planner-reviewer

# MetaSrv
/src/common/grpc/         @databendlabs/databend-meta-reviewer
/src/meta/                @databendlabs/databend-meta-reviewer
/src/meta/protos/proto    @drmingdrmer

# Storage
/src/common/cache/                 @databendlabs/databend-storage-reviewer
/src/common/contexts/              @databendlabs/databend-storage-reviewer
/src/common/storage/               @databendlabs/databend-storage-reviewer
/src/query/catalog/                @databendlabs/databend-storage-reviewer
/src/query/storages/               @databendlabs/databend-storage-reviewer
/src/query/service/src/catalogs/   @databendlabs/databend-storage-reviewer
/src/query/service/src/storages/   @databendlabs/databend-storage-reviewer


# API and handler
/src/common/http/                  @databendlabs/databend-api-reviewer
/src/query/service/src/servers/    @databendlabs/databend-api-reviewer

# Tool
/docker/               @databendlabs/databend-tool-reviewer
/scripts/              @databendlabs/databend-tool-reviewer
/.github/              @databendlabs/databend-tool-reviewer
