Repository DatafuseDev/fusequery, changes with the owners that .github/CODEOWNERS names for each.
All owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-executor-reviewer, @databendlabs/databend-planner-reviewer, @databendlabs/databend-meta-reviewer, @drmingdrmer, @databendlabs/databend-storage-reviewer, @databendlabs/databend-api-reviewer, @databendlabs/databend-tool-reviewer

.github/CODEOWNERS:

# Query
/src/common/arrow/         @databendlabs/databend-query-reviewer
/src/common/hashtable/     @databendlabs/databend-query-reviewer
/src/common/io/            @databendlabs/databend-query-reviewer
/src/query/datablocks/     @databendlabs/databend-query-reviewer
/src/query/datavalues/     @databendlabs/databend-query-reviewer
/src/query/functions/      @databendlabs/databend-query-reviewer
/src/query/management/     @databendlabs/databend-query-reviewer
/src/query/streams/        @databendlabs/databend-query-reviewer

# Executor
/src/common/base/                  @databendlabs/databend-executor-reviewer
/src/common/exception/             @databendlabs/databend-executor-reviewer
/src/query/planners/               @databendlabs/databend-executor-reviewer
/src/query/service/src/clusters/   @databendlabs/databend-executor-reviewer
/src/query/service/src/pipelines/  @databendlabs/databend-executor-reviewer
/src/query/service/src/api/rpc/    @databendlabs/databend-executor-reviewer

# Planner
/src/query/ast/                       @databendlabs/databend-planner-reviewer
/src/query/service/src/optimizers/    @databendlabs/databend-planner-reviewer

# MetaSrv
/src/common/grpc/         @databendlabs/databend-meta-reviewer
/src/meta/                @databendlabs/databend-meta-reviewer
/src/meta/protos/proto    @drmingdrmer

# Storage
/src/common/cache/                 @databendlabs/databend-storage-reviewer
/src/common/contexts/              @databendlabs/databend-storage-reviewer
/src/common/storage/               @databendlabs/databend-storage-reviewer
/src/query/catalog/                @databendlabs/databend-storage-reviewer
/src/query/storages/               @databendlabs/databend-storage-reviewer
/src/query/service/src/catalogs/   @databendlabs/databend-storage-reviewer
/src/query/service/src/storages/   @databendlabs/databend-storage-reviewer


# API and handler
/src/common/http/                  @databendlabs/databend-api-reviewer
/src/query/service/src/servers/    @databendlabs/databend-api-reviewer

# Tool
/docker/               @databendlabs/databend-tool-reviewer
/scripts/              @databendlabs/databend-tool-reviewer
/.github/              @databendlabs/databend-tool-reviewer

feat: object warehouse support rbac
  src/meta/app/src/principal/ownership_object.rs
  src/meta/app/src/principal/tenant_ownership_object_ident.rs
  src/meta/app/src/principal/user_grant.rs
  src/meta/app/src/principal/user_privilege.rs
  src/meta/proto-conv/src/ownership_from_to_protobuf_impl.rs
  src/meta/proto-conv/src/util.rs
  src/meta/proto-conv/tests/it/main.rs
  src/meta/proto-conv/tests/it/v117_warehouse_ownershipobject.rs
  src/meta/protos/proto/ownership.proto
  src/query/ast/src/ast/statements/principal.rs
  src/query/ast/src/ast/statements/user.rs
  src/query/ast/src/parser/statement.rs
  src/query/ast/tests/it/testdata/stmt-error.txt
  src/query/management/src/role/role_mgr.rs
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/interpreter_create_warehouses.rs
  src/query/service/src/interpreters/interpreter_drop_warehouses.rs
  src/query/service/src/interpreters/interpreter_privilege_grant.rs
  src/query/service/src/interpreters/interpreter_show_warehouses.rs
  src/query/service/src/sessions/session_privilege_mgr.rs
  src/query/service/src/table_functions/show_grants/show_grants_table.rs
  src/query/sql/src/planner/binder/ddl/account.rs
  src/query/users/src/role_mgr.rs
  src/query/users/src/visibility_checker.rs
  tests/sqllogictests/suites/base/05_ddl/05_0017_ddl_grant_role.test
Owners: @databendlabs/databend-meta-reviewer, @drmingdrmer, @databendlabs/databend-planner-reviewer, @databendlabs/databend-query-reviewer

databend-test print more std err
  tests/databend-test
Owners: none

x
  tests/sqllogictests/src/main.rs
Owners: none

enable sort spill in recluster
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/pipelines/builders/builder_recluster.rs
  src/query/settings/src/settings_default.rs
  src/query/storages/fuse/src/operations/mutation/mutator/recluster_mutator.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-storage-reviewer

fix: hilbert clustering in cluster mode
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
Owners: none

fix
  Cargo.lock
  src/query/storages/fuse/Cargo.toml
Owners: @databendlabs/databend-storage-reviewer

feat: deal will array of tuple which missing fields
  src/query/sql/src/evaluator/block_operator.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
  src/query/storages/orc/src/copy_into_table/processors/decoder.rs
Owners: @databendlabs/databend-storage-reviewer

tmp orc speed up
  Cargo.toml
Owners: none

missing field of tuple as null.
  Cargo.lock
  src/query/sql/src/planner/binder/copy_into_table.rs
  src/query/storages/common/stage/src/read/columnar/projection.rs
Owners: @databendlabs/databend-storage-reviewer

fix: cluster key use wrong index.
  src/query/sql/src/planner/expression_parser.rs
  src/query/storages/orc/src/copy_into_table/processors/decoder.rs
Owners: @databendlabs/databend-storage-reviewer

update
  src/query/sql/src/executor/physical_plan_visitor.rs
Owners: none

try add compat test
  tests/compat_fuse/compat-logictest/rbac/fuse_compat_write
Owners: none

fix(query): group checker subquery (#17420)
  src/query/sql/src/planner/semantic/grouping_check.rs
  tests/sqllogictests/suites/query/aggregate.test
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

update
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/expression/src/utils/block_thresholds.rs
Owners: none

remove m_cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
Owners: none

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_hilbert_serialize.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_injector.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/recluster.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-api-reviewer

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

for test
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_injector.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-api-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

restore m cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/functions/src/scalars/hilbert.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-executor-reviewer

fix
  src/query/functions/src/scalars/hilbert.rs
Owners: @databendlabs/databend-query-reviewer

remove m_cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/functions/src/scalars/hilbert.rs
  src/query/functions/tests/it/scalars/testdata/function_list.txt
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-executor-reviewer
