Repository DatafuseDev/fusequery, changes with the owners that .github/CODEOWNERS names for each.
All owners: @databendlabs/databend-query-reviewer, @databendlabs/databend-executor-reviewer, @databendlabs/databend-planner-reviewer, @databendlabs/databend-meta-reviewer, @drmingdrmer, @databendlabs/databend-storage-reviewer, @databendlabs/databend-api-reviewer, @databendlabs/databend-tool-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
Owners: @databendlabs/databend-executor-reviewer

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

for test
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  Cargo.lock
  src/common/exception/src/exception_code.rs
  src/query/service/Cargo.toml
  src/query/service/src/interpreters/access/privilege_access.rs
  src/query/service/src/interpreters/hook/compact_hook.rs
  src/query/service/src/interpreters/interpreter_factory.rs
  src/query/service/src/interpreters/interpreter_insert_multi_table.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_hilbert_serialize.rs
  src/query/service/src/pipelines/builders/mod.rs
  src/query/service/src/pipelines/pipeline_builder.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/transform_recursive_cte_source.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_injector.rs
  src/query/service/src/sessions/queue_mgr.rs
  src/query/sql/Cargo.toml
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/mod.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
  src/query/sql/src/planner/binder/ddl/table.rs
  src/query/sql/src/planner/binder/util.rs
  src/query/sql/src/planner/format/display_plan.rs
  src/query/sql/src/planner/optimizer/decorrelate/subquery_rewriter.rs
  src/query/sql/src/planner/optimizer/dynamic_sample/dynamic_sample.rs
  src/query/sql/src/planner/optimizer/format.rs
  src/query/sql/src/planner/optimizer/hyper_dp/dphyp.rs
  src/query/sql/src/planner/optimizer/rule/rewrite/rule_semi_to_inner_join.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/operator.rs
  src/query/sql/src/planner/plans/plan.rs
  src/query/sql/src/planner/plans/recluster.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-api-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

restore m cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

update
  src/query/ee/src/hilbert_clustering/handler.rs
  src/query/expression/src/utils/block_thresholds.rs
Owners: none

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_builder.rs
  src/query/pipeline/transforms/src/processors/transforms/transform_compact_no_split_builder.rs
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/data_processor_strategy.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
  tests/sqllogictests/suites/mode/standalone/explain/window.test
Owners: @databendlabs/databend-executor-reviewer

remove m_cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/pipelines/processors/transforms/window/partition/data_processor_strategy.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/expression/src/utils/block_thresholds.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/servers/flight/v1/exchange/exchange_injector.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-api-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/service/src/sessions/query_ctx.rs
  src/query/service/src/sessions/query_ctx_shared.rs
Owners: none

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/window_partition_buffer.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/pipelines/builders/builder_hilbert_partition.rs
  src/query/service/src/pipelines/builders/builder_window.rs
  src/query/service/src/pipelines/processors/transforms/mod.rs
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/data_processor_strategy.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/hilbert_partition_exchange.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/mod.rs
  src/query/service/src/pipelines/processors/transforms/window/partition/transform_window_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/functions/src/scalars/hilbert.rs
Owners: @databendlabs/databend-query-reviewer

remove m_cte
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

for test
  src/query/service/src/pipelines/processors/transforms/transform_partition_collect.rs
Owners: @databendlabs/databend-executor-reviewer

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/settings/src/settings_default.rs
  src/query/sql/src/executor/physical_plan_visitor.rs
  src/query/sql/src/executor/physical_plans/physical_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix explain update panic
  src/query/service/src/interpreters/interpreter_explain.rs
Owners: none

add test
  tests/sqllogictests/suites/mode/standalone/explain/update.test
Owners: none

fix
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/service/src/pipelines/builders/builder_mutation_source.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/physical_mutation_source.rs
  src/query/storages/fuse/src/operations/mutation_source.rs
Owners: @databendlabs/databend-executor-reviewer, @databendlabs/databend-storage-reviewer

fix
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/service/src/interpreters/interpreter_mutation.rs
  src/query/sql/src/executor/format.rs
  src/query/sql/src/executor/physical_plan_builder.rs
  src/query/sql/src/executor/physical_plans/physical_mutation_source.rs
  src/query/sql/src/planner/binder/bind_mutation/bind.rs
  src/query/sql/src/planner/binder/bind_mutation/mutation_expression.rs
  src/query/sql/src/planner/optimizer/mod.rs
  src/query/sql/src/planner/optimizer/mutation/mod.rs
  src/query/sql/src/planner/optimizer/mutation/push_down_filter.rs
  src/query/sql/src/planner/optimizer/optimizer.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
  src/query/sql/src/planner/plans/mutation.rs
  src/query/sql/src/planner/plans/mutation_source.rs
Owners: none

make lint
  src/query/service/src/interpreters/interpreter_explain.rs
  src/query/sql/src/executor/physical_plans/physical_mutation_source.rs
  src/query/sql/src/planner/optimizer/s_expr.rs
Owners: none

fix
  src/query/expression/src/utils/block_thresholds.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter.rs
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/sql/src/planner/planner.rs
  src/query/sql/src/planner/plans/recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/sql/src/planner/metadata.rs
  src/query/sql/src/planner/plans/recluster.rs
Owners: none

fix
  src/query/service/src/interpreters/interpreter_table_recluster.rs
  src/query/sql/src/planner/plans/recluster.rs
Owners: none

.github/CODEOWNERS:

# Query
/src/common/arrow/         @databendlabs/databend-query-reviewer
/src/common/hashtable/     @databendlabs/databend-query-reviewer
/src/common/io/            @databendlabs/databend-query-reviewer
/src/query/datablocks/     @databendlabs/databend-query-reviewer
/src/query/datavalues/     @databendlabs/databend-query-reviewer
/src/query/functions/      @databendlabs/databend-query-reviewer
/src/query/management/     @databendlabs/databend-query-reviewer
/src/query/streams/        @databendlabs/databend-query-reviewer

# Executor
/src/common/base/                  @databendlabs/databend-executor-reviewer
/src/common/exception/             @databendlabs/databend-executor-reviewer
/src/query/planners/               @databendlabs/databend-executor-reviewer
/src/query/service/src/clusters/   @databendlabs/databend-executor-reviewer
/src/query/service/src/pipelines/  @databendlabs/databend-executor-reviewer
/src/query/service/src/api/rpc/    @databendlabs/databend-executor-reviewer

# Planner
/src/query/ast/                       @databendlabs/databend-planner-reviewer
/src/query/service/src/optimizers/    @databendlabs/databend-planner-reviewer

# MetaSrv
/src/common/grpc/         @databendlabs/databend-meta-reviewer
/src/meta/                @databendlabs/databend-meta-reviewer
/src/meta/protos/proto    @drmingdrmer

# Storage
/src/common/cache/                 @databendlabs/databend-storage-reviewer
/src/common/contexts/              @databendlabs/databend-storage-reviewer
/src/common/storage/               @databendlabs/databend-storage-reviewer
/src/query/catalog/                @databendlabs/databend-storage-reviewer
/src/query/storages/               @databendlabs/databend-storage-reviewer
/src/query/service/src/catalogs/   @databendlabs/databend-storage-reviewer
/src/query/service/src/storages/   @databendlabs/databend-storage-reviewer


# API and handler
/src/common/http/                  @databendlabs/databend-api-reviewer
/src/query/service/src/servers/    @databendlabs/databend-api-reviewer

# Tool
/docker/               @databendlabs/databend-tool-reviewer
/scripts/              @databendlabs/databend-tool-reviewer
/.github/              @databendlabs/databend-tool-reviewer
